<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-pzjw8f+ua9olQ0r0+x9yGgPgHAq9jw/7L4x0skjvga/c9oO8Ean3yVq9tZ7bN7W"
      crossorigin="anonymous"
    />
    <style>
      body {
        padding: 20px;
      }

      h1 {
        margin-bottom: 30px;
      }

      form {
        margin-bottom: 40px;
      }

      form h2 {
        margin-bottom: 10px;
      }

      form select,
      form input[type="text"],
      form input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      form select {
        height: 40px;
      }

      form input[type="submit"] {
        background-color: #4caf50;
        color: white;
        cursor: pointer;
      }

      form input[type="submit"]:hover {
        background-color: #45a049;
      }

      .delete-btn {
        background-color: #f44336;
      }

      .delete-btn:hover {
        background-color: #d32f2f;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Admin Panel</h1>

      <div class="row">
        <div class="col-md-6">
          <h2>Add Player</h2>
          <form method="POST" action="/admin" enctype="multipart/form-data">
            <!-- Player attribute fields here -->
            <input
              type="text"
              name="player_name"
              placeholder="Player Name"
              required
              class="form-control"
            />
            <input
              type="number"
              name="matches"
              placeholder="Matches"
              required
              class="form-control"
            />
            <input
              type="number"
              name="innings"
              placeholder="Innings"
              required
              class="form-control"
            />
            <input
              type="number"
              name="runs"
              placeholder="Runs"
              required
              class="form-control"
            />
            <input
              type="number"
              name="balls_faced"
              placeholder="Balls Faced"
              required
              class="form-control"
            />
            <input
              type="number"
              name="wickets"
              placeholder="Wickets"
              required
              class="form-control"
            />
            <input
              type="file"
              name="player_image"
              placeholder="Player Image"
              accept="image/*"
              required
              class="form-control"
            />

            <input type="submit" value="Add Player" class="btn btn-primary" />
          </form>
        </div>

        <div class="col-md-6">
          <h2>Update Player</h2>
          <form method="POST" action="/admin" enctype="multipart/form-data">
            <select name="player_name" class="form-control">
              {% for player in players %}
              <option value="{{ player }}">{{ player }}</option>
              {% endfor %}
            </select>
            <!-- Player attribute fields here -->
            <input
              type="number"
              name="matches"
              placeholder="Matches"
              required
              class="form-control"
            />
            <input
              type="number"
              name="innings"
              placeholder="Innings"
              required
              class="form-control"
            />
            <input
              type="number"
              name="runs"
              placeholder="Runs"
              required
              class="form-control"
            />
            <input
              type="number"
              name="balls_faced"
              placeholder="Balls Faced"
              required
              class="form-control"
            />
            <input
              type="number"
              name="wickets"
              placeholder="Wickets"
              required
              class="form-control"
            />
            <input
              type="file"
              name="player_image"
              placeholder="Player Image"
              accept="image/*"
              class="form-control"
            />

            <input
              type="submit"
              value="Update Player"
              class="btn btn-primary"
            />
          </form>

          <h2>Delete Player</h2>
          <form method="POST" action="/admin/delete" class="form-inline">
            <select name="player_name" class="form-control mr-2">
              {% for player in players %}
              <option value="{{ player }}">{{ player }}</option>
              {% endfor %}
            </select>
            <input
              type="submit"
              value="Delete"
              class="btn btn-danger delete-btn"
            />
          </form>
          <div class="col-md-6">
            <h2>Update Carousel</h2>
            <form id="carouselForm">
              <div class="form-group">
                <label for="sliderHeadline1">Slider Headline 1:</label>
                <input
                  type="text"
                  name="sliderHeadline1"
                  class="form-control"
                  placeholder="Slider Headline 1"
                />
              </div>
              <div class="form-group">
                <label for="sliderDescription1">Slider Description 1:</label>
                <textarea
                  name="sliderDescription1"
                  class="form-control"
                  placeholder="Slider Description 1"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="sliderHeadline2">Slider Headline 2:</label>
                <input
                  type="text"
                  name="sliderHeadline2"
                  class="form-control"
                  placeholder="Slider Headline 2"
                />
              </div>
              <div class="form-group">
                <label for="sliderDescription2">Slider Description 2:</label>
                <textarea
                  name="sliderDescription2"
                  class="form-control"
                  placeholder="Slider Description 2"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary">
                Update Carousel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("carouselForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          updateCarouselContent();
        });

      function updateCarouselContent() {
        // Get the form input values
        var sliderHeadline1 = document.getElementById("sliderHeadline1").value;
        var sliderDescription1 =
          document.getElementById("sliderDescription1").value;
        var sliderHeadline2 = document.getElementById("sliderHeadline2").value;
        var sliderDescription2 =
          document.getElementById("sliderDescription2").value;

        // Update the carousel content
        document.getElementById("sliderHeadline1").textContent =
          sliderHeadline1;
        document.getElementById("sliderDescription1").textContent =
          sliderDescription1;
        document.getElementById("sliderHeadline2").textContent =
          sliderHeadline2;
        document.getElementById("sliderDescription2").textContent =
          sliderDescription2;

        // Clear the form inputs
        document.getElementById("sliderHeadline1").value = "";
        document.getElementById("sliderDescription1").value = "";
        document.getElementById("sliderHeadline2").value = "";
        document.getElementById("sliderDescription2").value = "";
      }
    </script>
  </body>
</html>
