<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
  </head>
  <body>
    <h1>Admin Panel</h1>

    <h2>Add Player</h2>
    <form method="POST" action="/admin">
      <!-- Player attribute fields here -->
      <input
        type="text"
        name="player_name"
        placeholder="Player Name"
        required
      />
      <input type="number" name="matches" placeholder="Matches" required />
      <input type="number" name="innings" placeholder="Innings" required />
      <input type="number" name="runs" placeholder="Runs" required />
      <input type="number" name="wickets" placeholder="Wickets" required />

      <input type="submit" value="Add Player" />
    </form>

    <h2>Update Player</h2>
    <form method="POST" action="/admin">
      <select name="player_name">
        {% for player in players %}
        <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
      </select>
      <!-- Player attribute fields here -->
      <input
        type="text"
        name="player_name"
        placeholder="Player Name"
        readonly
        required
      />
      <input type="number" name="matches" placeholder="Matches" required />
      <input type="number" name="innings" placeholder="Innings" required />
      <input type="number" name="runs" placeholder="Runs" required />
      <input type="number" name="wickets" placeholder="Wickets" required />

      <input type="submit" value="Update Player" />
    </form>
  </body>
</html>
