<!DOCTYPE html>
<html>
  <head>
    <title>CricNepal Estimation System</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='Images/bat.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="{{ url_for('static', filename='player_images/CricNepal Logo.png') }}"
            alt="CricNepal Logo"
            class="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#ranking">ICC Ranking</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#analysis">Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">More</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Live Score Ticker -->
    <div class="live-score-ticker pt-4 mt-5">
      <marquee behavior="scroll" direction="left">
        ACC confirms the venue and tournament date for Asia Cup
      </marquee>
    </div>
    <section class="">
      <iframe
        src="https://bwidget.crictimes.org/"
        style="width: 100%; min-height: 250px"
        frameborder="0"
        scrolling="yes"
      ></iframe>
    </section>

    <!-- Slider -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="static/player_images/slider1.jpg"
            class="d-block w-100"
            alt="Slider Image 1"
          />
          <div class="carousel-overlay"></div>
          <div class="carousel-caption cc1">
            <h3>
              Nepal ends Emerging Teams Asia Cup <br />with a victory over UAE
            </h3>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="static/player_images/slider2.jpeg"
            class="d-block w-100"
            alt="Slider Image 2"
          />
          <div class="carousel-overlay"></div>
          <div class="carousel-caption cc1">
            <h3>Nepal suffers a nine-wicket <br />defeat against India A</h3>
          </div>
        </div>
        <!-- Add more carousel items as needed -->
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <main>
      <section id="about" class="section">
        <div class="container mt-5">
          <h2 class="section-title">About the Nepali Cricket Team</h2>
          <div class="section-content">
            <p>
              The Nepali cricket team represents Nepal in international cricket.
              Over the years, the team has shown great potential and achieved
              notable success in the cricketing world. With a passionate fan
              base and talented players, Nepal is making its mark in the
              international cricketing arena.
            </p>
            <p>
              The team has participated in various tournaments and played
              against top cricketing nations. They have displayed remarkable
              performances, creating moments of pride and joy for the nation.
              The team's journey has been full of ups and downs, but they
              continue to work hard and strive for excellence.
            </p>
          </div>
        </div>
      </section>

      <section id="ranking" class="section">
        <div class="container">
          <h2 class="section-title">ICC Ranking</h2>
          <table id="rankings-table">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody id="rankings-body">
              <!-- Rankings will be dynamically populated here -->
              {% for team in ranking_data %}
              <tr>
                <td>{{ team.rank }}</td>
                <td>{{ team.team }}</td>
                <td>{{ team.points }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

      <section id="analysis" class="section">
        <div class="container">
          <h2 class="section-title">Analysis</h2>
          <div class="section-content">
            <p>
              Our CricNepal Estimation System provides in-depth analysis and
              insights for the Nepali cricket team. We analyze various aspects
              of the team's performance, including batting, bowling, fielding,
              and overall strategy. Our goal is to assist the team and its
              management in making data-driven decisions and improving their
              performance on the field.
            </p>
            <p>
              Using advanced statistical models and machine learning techniques,
              we generate valuable information and predictions that can aid in
              player selection, match strategies, and tactical decisions. Our
              system incorporates a vast amount of historical data, real-time
              statistics, and expert analysis to provide accurate and actionable
              insights.
            </p>
            <p>
              Whether you are a cricket enthusiast, a team member, or a cricket
              administrator, our analysis can help you gain a deeper
              understanding of the game and enhance your cricketing experience.
              Explore our system and unlock the potential of data-driven cricket
              analysis.
            </p>
          </div>
          <div class="text-center">
            <a href="/analysis" class="btn btn-primary">Go to Analysis</a>
            <a href="/prediction" class="btn btn-primary">Go to Prediction</a>
          </div>
        </div>
      </section>
    </main>

    <aside class="aside">
      <div class="container">
        <h2>Latest News</h2>
        <p>
          Stay updated with the latest news and updates about the Nepali cricket
          team. Follow our social media channels for live coverage, match
          highlights, player interviews, and more.
        </p>
        <ul>
          <li>
            <i class="fab fa-twitter"></i>
            <a href="https://twitter.com/NepalCricket">@NepalCricket</a>
          </li>
          <li>
            <i class="fab fa-facebook"></i>
            <a href="https://www.facebook.com/NepalCricketTeam"
              >NepalCricketTeam</a
            >
          </li>
          <li>
            <i class="fab fa-instagram"></i>
            <a href="https://www.instagram.com/nepalcricketteam"
              >nepalcricketteam</a
            >
          </li>
        </ul>
      </div>
    </aside>
    <footer class="footer">
      <div class="container">
        <p>&copy; 2023 CricNepal Estimation System. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
